.jumbotron {
  background: #312234;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #A0334E;
    border-color: #A0334E; }
    .jumbotron .btn-primary:hover {
      background: #A9475F; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #A0334E;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
